.app-container {
	background: rgb(190, 223, 223);
	display: block;
	width: 18rem;
	height: 25rem;
	margin: auto;
	margin-top: 5rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.temperature {
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: white;
	border-color: white;
	border-style: solid;
}

.cold {
  background: rgb(66, 127, 184);
}

.hot {
  background: rgb(240, 130, 4);
}

.btn-light {
  width: 4rem;
  height: 4rem;
}

.grid {
  --bs-columns: 2;
  --bs-gap: 5rem;
}
